<header>
<div class="navbar navbar-dark bg-primary shadow sm">
    <div class="navbar-brand aling-item-center d-flex">
        <i style="font-size: 40px;" class="fas fa-shipping-fast">
        
        </i>
        <strong style="font-size: 30px;">Carrito</strong>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar Producto">
        </div>
        <span class="fas fa-search search-icon"></span>
    </div>
    <button class="byn btn-primary"></button>
    <i style="font: size 30px;" class="fas fa-cart-plus"></i>
</div>
</header>
